{% extends "Admin/first.html" %}
{% load static %}
{% block open %}
<div class="dashboard">
    
    <div class="card">
      <i class="fa fa-users"></i>
      <h3>Total Students Registered</h3>
      <p>125</p>
    </div>

    <div class="card">
      <i class="fa fa-envelope-open-text"></i>
      <h3>Total Contacts Received</h3>
      <p>42</p>
    </div>

    <div class="card">
      <i class="fa fa-newspaper"></i>
      <h3>News Updates</h3>
      <p>5</p>
    </div>

    <div class="card">
      <i class="fa fa-chalkboard-teacher"></i>
      <h3>Teacher Details</h3>
      <p>18</p>
    </div>

    <div class="card">
      <i class="fa fa-calendar-alt"></i>
      <h3>Update Events</h3>
      <p>3</p>
    </div>
    
    <div class="card">
        <i class="fas fa-bullhorn"></i>
        <h3><a href="#" style="text-decoration: none; color: rgb(47, 46, 46);">News Announcements</a></h3>
        <p>3</p>
    </div>

  </div>
{% endblock open %}